<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Patricia's Page - Text</title>
    <% content_for :title, "Patricia's Page - Text" %>


    <!-- Bootstrap Core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="clean-blog.min.css" rel="stylesheet">

    <link href="sweetalert.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="text.html">Text</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/assets/post-bg-2.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Instruções</h1>
                        <h2 class="subheading" align="justify">Você está prestes a ler uma história sobre como um cara conheceu a esposa dele. Note que você precisa preencher as lacunas. Para isso, você tem 3 opções de resposta, mas escolha apenas  uma: aquela que soa mais natural do que as outras duas. Não se esqueça de preencher todas as lacunas.</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <%= form_for @test, :html => { :id => "testForm"} do |t| %>
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h1>Como conheci a minha esposa</h1>
                    <p align="justify">
                        No início dos anos 2000, mais <%= t.select :answer_1, "<option></option><option>especificamente</option><option>logicamente</option><option>precisamente</option>".html_safe %> em 2001, me tornei aluno da Faculdade de Direito da UFRJ. No meu primeiro dia de aula, apesar da minha grande timidez, conheci a Helena, que seria minha melhor amiga nos anos <%= t.select :answer_2, "<option></option><option>passados</option><option>futuros</option><option>seguintes</option>".html_safe %> na universidade.
                    </p>
                    <p align="justify">
                        Certo dia, nós tínhamos <%= t.select :answer_3, "<option></option><option>planejado</option><option>combinado</option><option>retratado</option>".html_safe %> almoçar juntos após a última aula. <%= t.select :answer_4, "<option></option><option>Porém</option><option>Por isso</option><option>Mas</option>".html_safe %> nossos planos mudaram por causa de um telefonema que ela recebeu. Ela, muito sorridente, atendeu o celular. O sorriso sumiu - parecia muito tensa.
                    </p>
                    <p align="justify">
                        Naquele momento, eu, já aflito, só conseguia pensar: “Meu Deus, quem é pior: ela que <%= t.select :answer_5, "<option></option><option>fica</option><option>está ficando</option><option>ficaria</option>".html_safe %> aí nervosa nesse celular ou eu que não <%= t.select :answer_6, "<option></option><option>estou entendendo</option><option>entendesse</option><option>entendo</option>".html_safe %> absolutamente nada dessa conversa?”
                    </p>
                    <p align="justify">
                        Quando ela desligou, eu perguntei a ela o que tinha acontecido. Ela, chorando, <%= t.select :answer_7, "<option></option><option>disse</option><option>falou</option><option>escutou</option>".html_safe %>: “era a minha prima! Me leva até em casa, por favor! Minha mãe está em Nova Iorque e terroristas acabaram de destruir o prédio <%= t.select :answer_8, "<option></option><option>onde</option><option>que</option><option>quem</option>".html_safe %> a reunião dela seria. Ninguém conseguiu falar com ela ainda!”
                    </p>
                    <p>
                        “A possibilidade de te deixar sozinha não <%= t.select :answer_9, "<option></option><option>existe</option><option>existir</option><option>está existindo</option>".html_safe %> em um momento como este. É <%= t.select :answer_10, "<option></option><option>ruim</option><option>óbvio</option><option>claro</option>".html_safe %> que eu vou com você até em casa!” – eu disse.
                    </p>
                    <p align="justify">
                        Fomos, então, <%= t.select :answer_11, "<option></option><option>para</option><option>até</option><option>desde</option>".html_safe %> o bairro da Helena. Assim que chegamos à casa dela, tocamos a campainha e logo alguém abriu a porta. Achei aquilo muito estranho, porque Helena sempre disse que morava sozinha. Quando a porta se abriu, eu pensei: “Eu não acredito no que <%= t.select :answer_12, "<option></option><option>verei</option><option>vejo</option><option>estou vendo</option>".html_safe %>! Ela, com certeza, é a mulher mais bonita do mundo!”
                    </p>
                    <p align="justify">
                        Demorei um tempo admirando a tal <%= t.select :answer_13, "<option></option><option>moça</option><option>ave</option><option>mulher</option>".html_safe %> e esqueci até de entrar na casa. Fiquei ali, parado por um minuto, até que Helena me mandou entrar e disse: “Essa aqui é a Joana, minha prima.” Quando entrei na casa, pensei: “A Joana <%= t.select :answer_14, "<option></option><option>mora</option><option>está morando</option><option>morasse</option>".html_safe %> aqui!”
                    </p>
                    <p align="justify">
                        Então, Joana disse: “Helena, a sua mãe acabou de telefonar. <%= t.select :answer_15, "<option></option><option>Acalme-se</option><option>Fique tranquila</option><option>Corra</option>".html_safe %>, pois ela está bem. A reunião que ela teria hoje foi cancelada.” Helena agora chorava ainda mais, mas de alívio. “Estou tão aliviada!” - gritou Julia, num rompante de <%= t.select :answer_16, "<option></option><option>felicidade</option><option>tristeza</option><option>alegria</option>".html_safe %>.
                    </p>
                    <p align="justify">
                        “Ah é!”, retrucou Joana, “mas talvez não seja o melhor dia desse rapaz aqui. Olhe para ele, coitado...” – virando-se para mim, disse: “Vou fazer algo por você. Não <%= t.select :answer_17, "<option></option><option>gosto</option><option>gostaria</option><option>estou gostando</option>".html_safe %> da sua expressão. Isso, pra mim, é fome! Por que não vamos almoçar para relaxar?”
                    </p>
                    <p align="justify">
                        O telefone tocou e Helena saiu correndo para atender. “É minha mãe!” – disse Helena – “podem ir vocês dois, depois eu encontro vocês!” Fomos juntos, eu e Joana, e, desde então, nunca mais nos separamos. Essa é a história do nosso primeiro encontro. É incrível como em um dia como 11 de setembro de 2001, conseguimos, em meio ao caos, <%= t.select :answer_18, "<option></option><option>encontrar</option><option>achar</option><option>perder</option>".html_safe %> o amor.
                    </p>
                </div>
            </div>
        </div>
    </article>

    <hr>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p><b>Agora, se você está de acordo em participar de minha pesquisa, eu preciso apenas saber algumas informações sobre você:</b></p>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name</label>
                            <%= t.text_field :name, :placeholder => "Nome", class: "form-control" %>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Gender</label>
                            <%= t.text_field :gender, :placeholder => "Gênero", class: "form-control" %>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Age</label>
                            <%= t.text_field :age, :placeholder => "Idade", class: "form-control" %>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Hometown and Country</label>
                            <%= t.text_field :hometown, :placeholder => "Cidade e País", class: "form-control" %>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Occupation</label>
                            <%= t.text_field :occupation, :placeholder => "Ocupação", class: "form-control" %>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Education and Major</label>
                            <%= t.text_field :education, :placeholder => "Escolaridade", class: "form-control" %>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Address</label>
                            <%= t.email_field :email, :placeholder => "Email", class: "form-control" %>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div> 
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Bilingual</label>
                            <%= t.text_field :bilingual, :placeholder => "Você é bilíngue? Se sim, quais idiomas?", class: "form-control" %>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Foreign</label>
                            <%= t.text_field :foreign, :placeholder => "Você tem estudado uma língua estrangeira? Se sim, quais?", class: "form-control" %>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <center>
                                <%= t.submit "Enviar", class: "btn btn-default btn-lg" %>
                            </center>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <% end %>
    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">Copyright &copy; Bioling 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <%= javascript_include_tag "sweetalert.min.js" %>

    <%= javascript_include_tag "jquery.js" %>
    <%= javascript_include_tag "jquery.validate.js" %>

    <!-- Bootstrap Core JavaScript -->
    <%= javascript_include_tag "bootstrap.min.js" %>

    <script>
        $(document).ready(function () {
            $('#testForm').validate({
                onclick: false,
                rules: {
                    'test[name]': {
                        required: true
                    },
                    'test[gender]': {
                        required: true
                    },
                    'test[age]': {
                        required: true
                    },
                    'test[email]': {
                        required: true,
                        email: true
                    },
                    'test[education]': {
                        required: true
                    },
                    'test[occupation]': {
                        required: true
                    },
                    'test[hometown]': {
                        required: true
                    },
                    'test[bilingual]': {
                        required: true
                    },
                    'test[foreign]': {
                        required: true
                    },
                    'test[answer_1]': {
                        required: true
                    },
                    'test[answer_2]': {
                        required: true
                    },
                    'test[answer_3]': {
                        required: true
                    },
                    'test[answer_4]': {
                        required: true
                    },
                    'test[answer_5]': {
                        required: true
                    },
                    'test[answer_6]': {
                        required: true
                    },
                    'test[answer_7]': {
                        required: true
                    },
                    'test[answer_8]': {
                        required: true
                    },
                    'test[answer_9]': {
                        required: true
                    },
                    'test[answer_10]': {
                        required: true
                    },
                    'test[answer_11]': {
                        required: true
                    },
                    'test[answer_12]': {
                        required: true
                    },
                    'test[answer_13]': {
                        required: true
                    },
                    'test[answer_14]': {
                        required: true
                    },
                    'test[answer_15]': {
                        required: true
                    },
                    'test[answer_16]': {
                        required: true
                    },
                    'test[answer_17]': {
                        required: true
                    },
                    'test[answer_18]': {
                        required: true
                    },
                },
                errorPlacement: function (error, element) {
                    swal({   
                        title: "Erro!",   
                        text: "Você não completou todos os espaços em branco. Por favor, tente novamente.",   
                        type: "error",   
                        confirmButtonText: "Ok"
                    }); 
                }
            });
        });
    </script>

    <% if flash[:success] %>
      <script>
      swal({
            title: "Sucesso!",   
            text: "Obrigado pela sua ajuda! Os resultados da minha dissertação estarão disponíveis em Março de 2017. Se você quiser que eu te envie os resultados, vá para a sessão 'contact'!",
            type: "success",   
            confirmButtonText: "Ok"
        }); 
      </script>
    <% end %>


</body>

</html>
