<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Patricia's Page</title>
    <% content_for :title, "Patricia's Page" %>

    <!-- Bootstrap Core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Admin Area</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../admin.html">Back</a></li>
                    <% if current_user %> 
                        <li><%= link_to "Log out", admin_logout_path, method: "delete" %></li> 
                    <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/assets/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Patricia's Page</h1>
                        <hr class="small">
                        <span class="subheading">Results</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>


    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h3>Name: </h3>
                    <p><%= @test_result.name %></p>
                    <hr/>
                    <h3>Age: </h3>
                    <p><%= @test_result.age %></p>
                    <hr/>
                    <h3>Gender: </h3>
                    <p><%= @test_result.gender %></p>
                    <hr/>
                    <h3>Education and Major: </h3>
                    <p><%= @test_result.education %></p>
                    <hr/>
                    <h3>Occupation: </h3>
                    <p><%= @test_result.occupation %></p>
                    <hr/>
                    <h3>Hometown and Country: </h3>
                    <p><%= @test_result.hometown %></p>
                    <hr/>
                    <h3>E-mail: </h3>
                    <p><%= @test_result.email %></p>
                    <hr/>
                    <h3>Are you bilingual? If so, what language(s)? </h3>
                    <p><%= @test_result.bilingual %></p>
                    <hr/>
                    <h3>Have you studied a foreign language? If so, what language(s)?</h3>
                    <p><%= @test_result.foreign %></p>
                    <hr/>
                    <h2>How I met my wife</h2>
                        <p align="justify">
                            No início dos anos 2000, mais 
                            <% if @test_result.answer_1.eql? "logicamente" %>
                                <font color="CC0000"><%= @test_result.answer_1 %></font> 
                            <% else %>
                                <font color="0000CC"><%= @test_result.answer_1 %></font> 
                            <% end %>
                            em 2001, me tornei aluno da Faculdade de Direito da UFRJ. No meu primeiro dia de aula, apesar da minha grande timidez, conheci a Helena, que seria minha melhor amiga nos anos 
                            <% if @test_result.answer_2.eql? "passados" %>
                                <font color="CC0000"><%= @test_result.answer_2 %></font> 
                            <% else %>
                                <font color="0000CC"><%= @test_result.answer_2 %></font> 
                            <% end %>
                            na universidade.
                        </p>
                        <p align="justify">
                            Certo dia, nós tínhamos 
                            <% if @test_result.answer_3.eql? "retratado" %>
                                <font color="CC0000"><%= @test_result.answer_3 %></font> 
                            <% else %>
                                <font color="0000CC"><%= @test_result.answer_3 %></font> 
                            <% end %>
                            almoçar juntos após a última aula. 
                            <% if @test_result.answer_4.eql? "Por isso" %>
                                <font color="CC0000"><%= @test_result.answer_4 %></font> 
                            <% else %>
                                <font color="0000CC"><%= @test_result.answer_4 %></font> 
                            <% end %>
                            nossos planos mudaram por causa de um telefonema que ela recebeu. Ela, muito sorridente, atendeu o celular. O sorriso sumiu - parecia muito tensa.
                        </p>
                        <p align="justify">
                            Naquele momento, eu, já aflito, só conseguia pensar: “Meu Deus, quem é pior: ela que 
                            <% if @test_result.answer_5.eql? "ficaria" %>
                                <font color="CC0000"><%= @test_result.answer_5 %></font> 
                            <% else %>
                                <font color="0000CC"><%= @test_result.answer_5 %></font> 
                            <% end %>
                            aí nervosa nesse celular ou eu que não 
                            <% if @test_result.answer_6.eql? "entendesse" %>
                                <font color="CC0000"><%= @test_result.answer_6 %></font> 
                            <% else %>
                                <font color="0000CC"><%= @test_result.answer_6 %></font> 
                            <% end %>
                            absolutamente nada dessa conversa?”
                        </p>
                        <p align="justify">
                            Quando ela desligou, eu perguntei a ela o que tinha acontecido. Ela, chorando, 
                            <% if @test_result.answer_7.eql? "escutou" %>
                                <font color="CC0000"><%= @test_result.answer_7 %></font> 
                            <% else %>
                                <font color="0000CC"><%= @test_result.answer_7 %></font> 
                            <% end %>: “era a minha prima! Me leva até em casa, por favor! Minha mãe está em Nova Iorque e terroristas acabaram de destruir o prédio 
                            <% if @test_result.answer_8.eql? "quem" %>
                                <font color="CC0000"><%= @test_result.answer_8 %></font> 
                            <% else %>
                                <font color="0000CC"><%= @test_result.answer_8 %></font> 
                            <% end %>
                            a reunião dela seria. Ninguém conseguiu falar com ela ainda!”
                        </p>
                        <p align="justify">
                            “A possibilidade de te deixar sozinha não 
                            <% if @test_result.answer_9.eql? "existir" %>
                                <font color="CC0000"><%= @test_result.answer_9 %></font> 
                            <% else %>
                                <font color="0000CC"><%= @test_result.answer_9 %></font> 
                            <% end %>
                            em um momento como este. É 
                            <% if @test_result.answer_10.eql? "ruim" %>
                                <font color="CC0000"><%= @test_result.answer_10 %></font> 
                            <% else %>
                                <font color="0000CC"><%= @test_result.answer_10 %></font> 
                            <% end %> 
                            que eu vou com você até em casa!” – eu disse.
                        </p>
                        <p align="justify">
                            Fomos, então, 
                            <% if @test_result.answer_11.eql? "desde" %>
                                <font color="CC0000"><%= @test_result.answer_11 %></font> 
                            <% else %>
                                <font color="0000CC"><%= @test_result.answer_11 %></font> 
                            <% end %>
                            o bairro da Helena. Assim que chegamos à casa dela, tocamos a campainha e logo alguém abriu a porta. Achei aquilo muito estranho, porque Helena sempre disse que morava sozinha. Quando a porta se abriu, eu pensei: “Eu não acredito no que 
                            <% if @test_result.answer_12.eql? "verei" %>
                                <font color="CC0000"><%= @test_result.answer_12 %></font> 
                            <% else %>
                                <font color="0000CC"><%= @test_result.answer_12 %></font> 
                            <% end %>! Ela, com certeza, é a mulher mais bonita do mundo!”
                        </p>
                        <p align="justify">
                            Demorei um tempo admirando a tal 
                            <% if @test_result.answer_13.eql? "ave" %>
                                <font color="CC0000"><%= @test_result.answer_13 %></font> 
                            <% else %>
                                <font color="0000CC"><%= @test_result.answer_13 %></font> 
                            <% end %>
                             e esqueci até de entrar na casa. Fiquei ali, parado por um minuto, até que Helena me mandou entrar e disse: “Essa aqui é a Joana, minha prima.” Quando entrei na casa, pensei: “A Joana 
                            <% if @test_result.answer_14.eql? "morasse" %>
                                <font color="CC0000"><%= @test_result.answer_14 %></font> 
                            <% else %>
                                <font color="0000CC"><%= @test_result.answer_14 %></font> 
                            <% end %>
                             aqui!”
                        </p>
                        <p align="justify">
                            Então, Joana disse: “Helena, a sua mãe acabou de telefonar. 
                            <% if @test_result.answer_15.eql? "Corra" %>
                                <font color="CC0000"><%= @test_result.answer_15 %></font> 
                            <% else %>
                                <font color="0000CC"><%= @test_result.answer_15 %></font> 
                            <% end %>, pois ela está bem. A reunião que ela teria hoje foi cancelada.” Helena agora chorava ainda mais, mas de alívio. “Estou tão aliviada!” - gritou Julia, num rompante de 
                            <% if @test_result.answer_16.eql? "tristeza" %>
                                <font color="CC0000"><%= @test_result.answer_16 %></font> 
                            <% else %>
                                <font color="0000CC"><%= @test_result.answer_16 %></font> 
                            <% end %>.
                        </p>
                        <p align="justify">
                            “Ah é!”, retrucou Joana, “mas talvez não seja o melhor dia desse rapaz aqui. Olhe para ele, coitado...” – virando-se para mim, disse: “Vou fazer algo por você. Não  
                            <% if @test_result.answer_17.eql? "gostaria" %>
                                <font color="CC0000"><%= @test_result.answer_17 %></font> 
                            <% else %>
                                <font color="0000CC"><%= @test_result.answer_17 %></font> 
                            <% end %>
                             da sua expressão. Isso, pra mim, é fome! Por que não vamos almoçar para relaxar?”
                        </p>
                        <p align="justify">
                            O telefone tocou e Helena saiu correndo para atender. “É minha mãe!” – disse Helena – “podem ir vocês dois, depois eu encontro vocês!” Fomos juntos, eu e Joana, e, desde então, nunca mais nos separamos. Essa é a história do nosso primeiro encontro. É incrível como em um dia como 11 de setembro de 2001, conseguimos, em meio ao caos, 
                            <% if @test_result.answer_18.eql? "perder" %>
                                <font color="CC0000"><%= @test_result.answer_18 %></font> 
                            <% else %>
                                <font color="0000CC"><%= @test_result.answer_18 %></font> 
                            <% end %>
                             o amor.
                        </p>
                        <hr/>
                        <h3>Progressive Morphology/ Non Progressive Morphology</h3>
                        <% if @test_result.wrong_answers <= 3 %>
                            <%= pie_chart @data %>
                        <% else %> 
                            <center>
                                <br/>
                                <br/>
                                <font color="CC0000">This test is invalid: <%= @test_result.wrong_answers %>/18 errors</font>
                                <br/>
                                <br/>
                            </center>
                        <% end %>

                   </div>
            </div>
        </div>
    </article>


    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">Copyright &copy; Bioling 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="clean-blog.min.js"></script>

</body>

</html>
